.main-footer{
    color: white;
    background-color: rgb(61, 210, 186);
    padding-top: 2em;
    position: relative;
    width:100%;
    margin-bottom: 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height:150px!important;


}